In [2]:
data_path = "./data/data_1.xls"

In [3]:
import pandas as pd
T_DATA_CALLS = pd.read_excel(data_path,sheet_name='T_DATA_CALLS')
T_DATA_DB = pd.read_excel(data_path,sheet_name='T_DATA_DB')
T_DATA_HEART_RATE = pd.read_excel(data_path,sheet_name='T_DATA_HEART_RATE')
T_DATA_LUX = pd.read_excel(data_path,sheet_name='T_DATA_LUX')
T_DATA_MESSAGE = pd.read_excel(data_path,sheet_name='T_DATA_MESSAGE')
T_DATA_PICTURE = pd.read_excel(data_path,sheet_name='T_DATA_PICTURE')
T_DATA_SLEEP = pd.read_excel(data_path,sheet_name='T_DATA_SLEEP')
T_DATA_STEP = pd.read_excel(data_path,sheet_name='T_DATA_STEP')
T_DATA_WALKING = pd.read_excel(data_path,sheet_name='T_DATA_WALKING')
T_DATA_APP = pd.read_excel(data_path,sheet_name='T_DATA_APP')

In [4]:
T_DATA_CALLS

,USER_ID,CALL_ID,CALL_DURATION,CALL_DATE,CALL_TYPE,CALL_NUMBER
0,admin,8137,39,202306222025,2,EA4C60B7622973F7C302A1264093943CF9B3D5D7FD733A...
1,admin,8138,44,202306222030,1,EA4C60B7622973F7C302A1264093943CF9B3D5D7FD733A...
2,admin,8139,326,202306231419,1,66443CE7EBFC4D25D58D9F0D55C1F9154320EC29F7FE3C...
3,admin,8140,185,202306231429,2,542CE600D7EAD0CC5BD992A3E92164E87FED6FBB098DCD...
4,admin,8141,222,202306231440,2,542CE600D7EAD0CC5BD992A3E92164E87FED6FBB098DCD...
...,...,...,...,...,...,...
72,admin,8246,107,202307101816,1,DCC1F6A4EECB91A75C4F6628391345432A432A16C91863...
73,admin,8247,47,202307101826,2,DCC1F6A4EECB91A75C4F6628391345432A432A16C91863...
74,admin,8248,16,202307101852,1,DCC1F6A4EECB91A75C4F6628391345432A432A16C91863...
75,admin,8249,53,202307101901,1,DCC1F6A4EECB91A75C4F6628391345432A432A16C91863...
76,admin,8250,32,202307101904,2,DCC1F6A4EECB91A75C4F6628391345432A432A16C91863...

In [3]:
T_DATA_CALLS['CALL_DATE'] = T_DATA_CALLS['CALL_DATE'].apply(lambda x:str(x)[:8])
T_DATA_CALLS_df = T_DATA_CALLS.groupby(['USER_ID','CALL_DATE'])['CALL_DURATION'].agg(['sum'])
T_DATA_CALLS_df.reset_index(drop=False,inplace=True)
T_DATA_CALLS_df.rename(columns = {'sum':'call_duration', 'CALL_DATE':'date'},inplace=True)
T_DATA_CALLS_df

   USER_ID      date  call_duration
0    admin  20230622             83
1    admin  20230623           1197
2    admin  20230624            100
3    admin  20230625            180
4    admin  20230626             46
5    admin  20230627            206
6    admin  20230628             41
7    admin  20230629            136
8    admin  20230630             93
9    admin  20230701             39
10   admin  20230703             76
11   admin  20230704             79
12   admin  20230705              0
13   admin  20230706            130
14   admin  20230707            372
15   admin  20230708             29
16   admin  20230709            224
17   admin  20230710            992

In [4]:
T_DATA_DB['DB_TIME'] = T_DATA_DB['DB_TIME'].apply(lambda x:str(x)[:8])
T_DATA_DB_df = T_DATA_DB.groupby(['USER_ID', 'DB_TIME'])['DB_VALUE'].agg(['mean', 'max', 'min'])
T_DATA_DB_df.reset_index(drop=False,inplace=True)
T_DATA_DB_df.rename(columns = {'mean':'db_value_mean', 'max':'db_value_max', 'min':'db_value_min', 'DB_TIME':'date'},inplace=True)
T_DATA_DB_df

  USER_ID      date  db_value_mean  db_value_max  db_value_min
0   admin  20230627      70.142857            90            56
1   admin  20230628      63.040000            90            53
2   admin  20230710      67.000000            90            53
3   admin  20230711      62.040000            84            55
4   admin  20230712      65.333333            84            58
5   bhkim  20230630      55.500000            58            53
6   bhkim  20230710      64.333333            73            54
7     iai  20230629      66.000000            77            55

In [5]:
T_DATA_HEART_RATE['RATE_TIME'] = T_DATA_HEART_RATE['RATE_TIME'].apply(lambda x:str(x)[:8])
T_DATA_HEART_RATE_df = T_DATA_HEART_RATE.groupby(['USER_ID','RATE_TIME'])['HEART_RATE'].agg(['mean','max','min'])
T_DATA_HEART_RATE_df.reset_index(drop=False, inplace=True)
T_DATA_HEART_RATE_df.rename(columns = {'mean':'heart_rate_mean', 'max':'heart_rate_max', 'min':'heart_rate_min', 'RATE_TIME':'date'}, inplace=True)
T_DATA_HEART_RATE_df

  USER_ID      date  heart_rate_mean  heart_rate_max  heart_rate_min
0    0001  20230629             64.0              64              64
1   admin  20230627             74.0              74              74
2   admin  20230712             70.0              70              70

In [6]:
T_DATA_LUX['LUX_TIME'] = T_DATA_LUX['LUX_TIME'].apply(lambda x:str(x)[:8])
T_DATA_LUX_df=T_DATA_LUX.groupby(['USER_ID','LUX_TIME'])['LUX_VALUE'].agg(['mean','max','min'])
T_DATA_LUX_df.reset_index(drop=False,inplace=True)
T_DATA_LUX_df.rename(columns = {'mean':'lux_value_mean', 'max':'lux_value_max', 'min':'lux_value_min','LUX_TIME':'date'},inplace=True)
T_DATA_LUX_df

   USER_ID      date  lux_value_mean  lux_value_max  lux_value_min
0     0001  20230629      303.333333            358            231
1     0001  20230630      294.750000            727             63
2    admin  20230628       80.046875            137              0
3    admin  20230629       52.000000             52             52
4    admin  20230706      148.000000            148            148
5    admin  20230710      133.242424            753             66
6    admin  20230711       85.600000            114             56
7    admin  20230712      111.366667            151             72
8    bhkim  20230630     1972.000000           2266           1678
9    bhkim  20230710     1337.333333           1675            715
10     iai  20230629      286.000000            299            273

In [7]:
T_DATA_MESSAGE['MESSAGE_DATE']=T_DATA_MESSAGE['MESSAGE_DATE'].apply(lambda x:str(x)[:8])
T_DATA_MESSAGE_df=T_DATA_MESSAGE.groupby(['USER_ID','MESSAGE_DATE'])['MESSAGE_NUMBER'].agg(['count'])
T_DATA_MESSAGE_df.reset_index(drop=False,inplace=True)
T_DATA_MESSAGE_df.rename(columns = {'count':'msg_num', 'MESSAGE_DATE':'date'},inplace=True)
T_DATA_MESSAGE_df

  USER_ID      date  msg_num
0   admin  20230530        1
1   admin  20230607        1
2   admin  20230615        2
3   bhkim  20230602        2
4   bhkim  20230610        1
5   bhkim  20230708        3
6   bhkim  20230709        7
7     iai  20230602        2
8     iai  20230610        1

In [8]:
T_DATA_PICTURE['PICTURE_DATE']=T_DATA_PICTURE['PICTURE_DATE'].apply(lambda x:str(x)[:8])
T_DATA_PICTURE_df=T_DATA_PICTURE.groupby(['USER_ID','PICTURE_DATE'])['PICTURE_TITLE'].agg(['count'])
T_DATA_PICTURE_df.reset_index(drop=False,inplace=True)
T_DATA_PICTURE_df.rename(columns = {'count':'pic_num','PICTURE_DATE':'date'},inplace=True)
T_DATA_PICTURE_df

   USER_ID      date  pic_num
0     0001  20230630        2
1    admin  20230622        1
2    admin  20230623        2
3    admin  20230625        1
4    admin  20230626       16
5    admin  20230627       26
6    admin  20230705        1
7    admin  20230706        1
8    admin  20230707        2
9    admin  20230710        1
10   admin  20230711        3
11   bhkim  20230628        3
12   bhkim  20230630        1
13     iai  20230628        3
14   test2  20230620        4
15   test2  20230621       40
16   test2  20230622       11
17   test2  20230623        6
18   test2  20230624       59
19   test2  20230625        5
20   test2  20230626        6
21   test2  20230627        2

In [9]:
T_DATA_SLEEP['START_TIME']=T_DATA_SLEEP['START_TIME'].apply(lambda x:str(x)[:8])
T_DATA_SLEEP['SLEEP_TIME']=T_DATA_SLEEP['SLEEP_TIME'].apply(lambda x:x//60)
T_DATA_SLEEP_df=T_DATA_SLEEP.groupby(['USER_ID','START_TIME'])['SLEEP_TIME'].agg(['sum'])
T_DATA_SLEEP_df.reset_index(drop=False,inplace=True)
T_DATA_SLEEP_df.rename(columns = {'sum':'sleep_duration','START_TIME':'date'},inplace=True)
T_DATA_SLEEP_df

   USER_ID      date  sleep_duration
0     0001  20230629             420
1    admin  20230609             250
2    admin  20230610             390
3    admin  20230611             450
4    admin  20230612             280
5    admin  20230613             370
6    admin  20230614             350
7    admin  20230615             290
8    admin  20230616             410
9    admin  20230617             380
10   admin  20230618             250
11   admin  20230619             410
12   admin  20230620             320
13   admin  20230621             330
14   admin  20230622             420
15   admin  20230623             350
16   admin  20230625             190
17   admin  20230626             400
18   admin  20230627             280
19   admin  20230705             390
20   admin  20230706             380
21   admin  20230707             330
22   admin  20230708             280
23   admin  20230711             320

In [10]:
T_DATA_STEP['STEP_DATE']=T_DATA_STEP['STEP_DATE'].apply(lambda x:str(x)[:8])
T_DATA_STEP_df=T_DATA_STEP.groupby(['USER_ID','STEP_DATE'])['STEP_COUNT'].agg(['sum'])
T_DATA_STEP_df.reset_index(drop=False,inplace=True)
T_DATA_STEP_df.rename(columns = {'sum':'step_count','STEP_DATE':'date'},inplace=True)
T_DATA_STEP_df

   USER_ID      date  step_count
0        1  20230629           8
1        1  20230630        1556
2    admin  20230609       16878
3    admin  20230610        2222
4    admin  20230611         137
5    admin  20230612        9449
6    admin  20230613       10212
7    admin  20230614       11107
8    admin  20230615        7765
9    admin  20230616       11222
10   admin  20230617        6191
11   admin  20230618        1655
12   admin  20230619        8584
13   admin  20230620        9748
14   admin  20230621        6441
15   admin  20230622       13595
16   admin  20230623       14777
17   admin  20230624        3945
18   admin  20230625        6717
19   admin  20230626       10306
20   admin  20230627       11569
21   admin  20230628       10639
22   admin  20230629        2238
23   admin  20230630       15108
24   admin  20230701        1440
25   admin  20230702        5858
26   admin  20230703         318
27   admin  20230704        2146
28   admin  20230705       12874
29   admin  20230706        6297
30   admin  20230707        5662
31   admin  20230708        5963
32   admin  20230709        8071
33   admin  20230710       14084
34   admin  20230711        6123
35   admin  20230712        7302

In [11]:
T_DATA_APP['COLLECT_DATE'] = T_DATA_APP['COLLECT_DATE'].apply(lambda x:str(x)[:8])
T_DATA_APP_df=T_DATA_APP.groupby(['USER_ID','COLLECT_DATE']).sum()
T_DATA_APP_df.reset_index(drop=False,inplace=True)
T_DATA_APP_df.rename(columns = {'ACC_COUNT':'app_acc', 'AUDIO_COUNT':'app_audio', 'GAME_COUNT':'app_game', 'IMAGE_COUNT':'app_img', 'MAPS_COUNT':'app_maps', 'NEWS_COUNT':'app_news', 'VIDEO_COUNT':'app_video', 'COLLECT_DATE':'date'},inplace=True)
T_DATA_APP_df.drop(['SOCIAL_COUNT'],axis=1,inplace=True)
T_DATA_APP_df

,USER_ID,date,app_acc,app_audio,app_game,app_img,app_maps,app_news,app_video
0,0001,20230630,0,2,1,3,6,1,6
1,admin,20230712,0,3,4,4,7,1,2
2,bhkim,20230710,0,2,2,1,11,0,2
3,iai,20230629,0,3,2,1,11,0,2

In [12]:
result = pd.merge(T_DATA_CALLS_df, T_DATA_DB_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_HEART_RATE_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_LUX_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_MESSAGE_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_PICTURE_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_SLEEP_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_STEP_df, how='outer',on=['USER_ID','date'])
result = pd.merge(result, T_DATA_APP_df, how='outer',on=['USER_ID','date'])
result

,USER_ID,date,call_duration,db_value_mean,db_value_max,db_value_min,heart_rate_mean,heart_rate_max,heart_rate_min,lux_value_mean,...,pic_num,sleep_duration,step_count,app_acc,app_audio,app_game,app_img,app_maps,app_news,app_video
0,admin,20230622,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,420.0,13595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,admin,20230623,1197.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,350.0,14777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,admin,20230624,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3945.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,admin,20230625,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,190.0,6717.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,admin,20230626,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,400.0,10306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,admin,20230627,206.0,70.142857,90.0,56.0,74.0,74.0,74.0,NaN,...,26.0,280.0,11569.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,admin,20230628,41.0,63.040000,90.0,53.0,NaN,NaN,NaN,80.046875,...,NaN,NaN,10639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,admin,20230629,136.0,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,...,NaN,NaN,2238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,admin,20230630,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,admin,20230701,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,admin,20230703,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,admin,20230704,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,admin,20230705,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,390.0,12874.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,admin,20230706,130.0,NaN,NaN,NaN,NaN,NaN,NaN,148.000000,...,1.0,380.0,6297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,admin,20230707,372.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,330.0,5662.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,admin,20230708,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,280.0,5963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,admin,20230709,224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8071.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,admin,20230710,992.0,67.000000,90.0,53.0,NaN,NaN,NaN,133.242424,...,1.0,NaN,14084.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,admin,20230711,NaN,62.040000,84.0,55.0,NaN,NaN,NaN,85.600000,...,3.0,320.0,6123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,admin,20230712,NaN,65.333333,84.0,58.0,70.0,70.0,70.0,111.366667,...,NaN,NaN,7302.0,0.0,3.0,4.0,4.0,7.0,1.0,2.0
20,bhkim,20230630,NaN,55.500000,58.0,53.0,NaN,NaN,NaN,1972.000000,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,bhkim,20230710,NaN,64.333333,73.0,54.0,NaN,NaN,NaN,1337.333333,...,NaN,NaN,NaN,0.0,2.0,2.0,1.0,11.0,0.0,2.0
22,iai,20230629,NaN,66.000000,77.0,55.0,NaN,NaN,NaN,286.000000,...,NaN,NaN,NaN,0.0,3.0,2.0,1.0,11.0,0.0,2.0
23,0001,20230629,NaN,NaN,NaN,NaN,64.0,64.0,64.0,303.333333,...,NaN,420.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0001,20230630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.750000,...,2.0,NaN,NaN,0.0,2.0,1.0,3.0,6.0,1.0,6.0
25,admin,20230530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,admin,20230607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,admin,20230615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,290.0,7765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,bhkim,20230602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,bhkim,20230610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,bhkim,20230708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,bhkim,20230709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,iai,20230602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,iai,20230610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,bhkim,20230628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,iai,20230628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,test2,20230620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,test2,20230621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,test2,20230622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,test2,20230623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,test2,20230624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,test2,20230625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,test2,20230626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,test2,20230627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,admin,20230609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,250.0,16878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,admin,20230610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,390.0,2222.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,admin,20230611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,450.0,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,admin,20230612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,280.0,9449.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,admin,20230613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,370.0,10212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,admin,20230614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,350.0,11107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,admin,20230616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,410.0,11222.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,admin,20230617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,380.0,6191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,admin,20230618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,250.0,1655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,admin,20230619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,410.0,8584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,admin,20230620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,320.0,9748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,admin,20230621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,330.0,6441.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,1,20230629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,1,20230630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,admin,20230702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5858.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
result.columns

Index(['USER_ID', 'date', 'call_duration', 'db_value_mean', 'db_value_max',
       'db_value_min', 'heart_rate_mean', 'heart_rate_max', 'heart_rate_min',
       'lux_value_mean', 'lux_value_max', 'lux_value_min', 'msg_num',
       'pic_num', 'sleep_duration', 'step_count', 'app_acc', 'app_audio',
       'app_game', 'app_img', 'app_maps', 'app_news', 'app_video'],
      dtype='object')

In [ ]:
result.to_csv('/content/drive/MyDrive/동국대학교/연구실/로그데이터/total_data.csv')